.img{
    width: 250px;
}
.item-container{
    list-style-type: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;

}
.name{
    color: #000000;
}